<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.capstone_group.isklinika">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.IsKlinika">
        <activity android:name=".ActivityHealthAssessment"></activity>
        <activity android:name=".ActivityMedication" />
        <activity android:name=".ActivityAddImmune" />
        <activity android:name=".ActivityImmunization" />
        <activity android:name=".ActivityClinicianPersonalInfoModule" />
        <activity
            android:name=".ActivityClinicianLanding"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>

            <activity android:name=".Activity_Landing"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>